<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title class="text-black-50">284 Townville SC</title>
    <div class="jumbotron small ">


        <h1 class="display-4">Rentals</h1>
        <p class="lead">Lake Front escape on Lake Hartwell SC 284 Penny Lane Townville, South Carolina only 15 minutes
            from Clemson!</p>

        <div class="container">
            <img class="percent-20" th:src="@{/images/284pennylane.jpg}" th:width="200" alt="front"/>
            <img class="percent-20" th:src="@{/images/284inside.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284masterbedroom.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284deck.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284dock.jpg}" th:width="200" alt="dock"/>
        </div>


    </div>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<link rel="stylesheet" type="text/css" media="all"
      href="../../css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>