<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lake house<!DOCTYPE html>


        <html lang="en" xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              xmlns:with="http://www.thymeleaf.org/extras/with"
              layout:decorate="~{layout}"
              with:title="Activity">


        <th:block layout:fragment="content">

            <div align="center">


                <h1> Activities</h1>
                <a href="/activity/new">Create New using act controller Activity</a>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th class="arrow-button">Activity ID</th>
                        <th>Date From:</th>
                        <th>Date To:</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Info:</th>
                        <th>Link:</th>
                        <th>Cost Range:</th>
                        <th>Fun Rating:</th>
                        <th>Distance By Boat:</th>
                        <th>Distance By Car:</th>
                        <th>Notes:</th>
                        <th>Enabled:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="activity : ${listActivities}">
                        <td th:text="${activity.id}">Activity ID</td>
                        <td th:text="${activity.fromDate}">From</td>
                        <td th:text="${activity.toDate}">To</td>
                        <td th:text="${activity.name}">Name</td>
                        <td th:text="${activity.location}">Location</td>
                        <td th:text="${activity.info}">Info</td>
                        <td th:text="${activity.link}">Link</td>
                        <td th:text="${activity.costRange}">Cost Range</td>
                        <td th:text="${activity.funRating}">Fun Rating</td>
                        <td th:text="${activity.distanceByBoat}">Distance By Boat</td>
                        <td th:text="${activity.distanceByCar}">Distance By Car</td>
                        <td th:text="${activity.notes}">Notes</td>
                        <td th:text="${activity.enabled}">Enabled</td>
                        <td>
                            <a th:href="@{'/activity/edit/' + ${activity.id}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/activity/delete/' + ${activity.id}}">Delete</a>
                        </td>
                    </tr>


                    </tbody>
                </table>


            </div>
        </th:block>

        </html>
    </title>
</head>
<body>

</body>


</html>









