<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="New Rates">
<link rel="stylesheet" type="text/css" media="all"
      href="../../css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" media="all"
      href="../../css/calendar.css" data-th-href="@{/css/calendar.css}"/>

<head>
    <meta charset="utf-8"/>

    <title>Edit Product Detail</title>
</head>
<body>
<th:block layout:fragment="content">
    <div align="center">
        <h1>Edit Product Detail</h1>
        <br/>
        <form action="#" th:action="@{/productDetail/save}" th:object="${productDetail}"
              method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td>Product ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly"/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</th:block>
</body>

<script type="text/javascript" th:src="@{/rates/edit/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/rates/edit/js/popper.js}"></script>

</html>