<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <title class="text-black-50">284 Townville SC</title>

    <div class="jumbotron small ">


        <h1 class="display-4">Welcome to our Lake House!!!</h1>
        <p class="lead">Lake Front escape on Lake Hartwell SC 284 Penny Lane Townville, South Carolina only 15 minutes
            from Clemson!</p>

        <div class="container">
            <img class="percent-20" th:src="@{/images/284pennylane.jpg}" th:width="200" alt="front"/>
            <img class="percent-20" th:src="@{/images/284inside.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284masterbedroom.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284deck.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284dock.jpg}" th:width="200" alt="dock"/>
        </div>

       <!-- <div class="container">
            <img class="percent-20" th:src=@{/images/284pennylane.jpg}"" th:width="200" alt="front"/>
            <img class="percent-20" th:src="@{/images/284inside.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284masterbedroom.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284deck.jpg}" th:width="200" alt="inside"/>
            <img class="percent-20" th:src="@{/images/284dock.jpg}" th:width="200" alt="dock"/>
        </div>
        -->
    </div>
</head>

<body>


<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activity">Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rental">Rentals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurant">Restaurants</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">You are coming here to relax</h4>
        <h6 class="card-subtitle mb-2 text-muted">So...? What do you feel like doing...</h6>
        <p class="card-text">
           Read and think...sit on the dock and listen to the birds, the loon, the fish jumping or just the water ...
           or get on your boat and go to Restaurants, Marinas, Shopping, Party Island, Fishing...
           or Canoe...Sunfish sailing, Swim...or take a walk around the lake front.
           When it gets dark have a nice fire on the beach.
        </p>
        <a href="#!" class="card-link">Nami</a>
        <a href="#!" class="card-link">The Galley</a>
        <a href="#!" class="card-link">Have a Pizza Delivered!</a>
    </div>
</div>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
-->



<script type="text/javascript" src="static/js/popper.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>



</html>