<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>


        <html lang="en" xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              xmlns:with="http://www.thymeleaf.org/extras/with"
              layout:decorate="~{layout}"
              with:title="Activity">
        <th:block layout:fragment="content">

            <!--
                <div  th:replace="fragments/activity :: activity"></div>
                -->
            <div> Content here</div>
        </th:block>
        <th:block layout:fragment="body_end">
            <div class="modal fade" tabindex="-1" role="dialog" id="cityModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">whatever</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body...</p>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        </html>
    </title>
</head>
<body>

</body>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="css/index.css" rel="stylesheet"/>
<script type="text/javascript" src="static/js/popper.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</html>
