<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/htmlhead}"/>
<body>
<th:block layout:replace="~{fragments/navigation}"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <th:block layout:insert="~{fragments/pagetitle}"/>
            <th:block layout:fragment="content"/>
        </div>
    </div>
</div>
<th:block layout:fragment="body_end"/>
<th:block layout:replace="~{fragments/body_scripts :: end}"/>
</body>
<!--
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/bootstrap-grid.min.css"/>
<link rel="stylesheet" href="css/bootstrap-reboot.min.css"/>
-->
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"/>
<link type="text/css" href="css/index.css" rel="stylesheet"/>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/styles.css}"/>
<script type="text/javascript" src="static/js/popper.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</html>



