<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="New Activity">

<link rel="stylesheet" type="text/css" media="all"
      href="../../css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" media="all"
      href="../../css/calendar.css" data-th-href="@{/css/calendar.css}"/>
<body>
<th:block layout:fragment="content">
    <div align="center">
        <div class="row">
            <div class="col-md-12">

                <th:block th:fragment="form">
                    <form action="#" th:action="@{/activity/save}" th:object="${activity}"
                          method="post">


                        <table border="0" cellpadding="10">
                            <input type="hidden" th:field="*{id}" />
                            <tr>
                                <td>Activity Name:</td>
                                <td><input type="text" th:field="*{name}"/></td>
                            </tr>
                            <tr>
                                <td>Start Date</td>
                                <td><input type="text" th:field="*{fromDate}"/>From</td>


                            </tr>
                            <tr>
                                <td>End Date:</td>
                                <td> <input type="text" th:field="*{toDate}"/></td>


                            </tr>
                            <tr>
                                <td>Location</td>
                                <td><input type="text" th:field="*{location}"/></td>
                            </tr>
                            <tr>
                                <td>Info</td>
                                <td><input type="text" th:field="*{info}"/></td>
                            </tr>
                            <tr>
                                <td>Link</td>
                                <td><input type="text" th:field="*{link}"/></td>
                            </tr>
                            <tr>
                                <td>Cost Range</td>
                                <td><input type="text" th:field="*{costRange}"/></td>
                            </tr>
                            <tr>
                                <td>Fun Rating</td>
                                <td><input type="text" th:field="*{funRating}"/></td>
                            </tr>
                            <tr>
                                <td>Distance By Car</td>
                                <td><input type="text" th:field="*{distanceByCar}"/></td>
                            </tr>
                            <tr>
                                <td>Distance By Boat</td>
                                <td><input type="text" th:field="*{distanceByBoat}"/></td>
                            </tr>
                            <tr>
                                <td>Notes</td>
                                <td><input type="text" th:field="*{notes}"/></td>
                            </tr>
                            <tr>
                                <td>Enabled</td>
                                <td><input type="text" th:field="*{enabled}"/></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit">Save</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</body>

<script type="text/javascript" th:src="@{/activity/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/activity/js/popper.js}"></script>
</html>
