<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="New Product">
<link rel="stylesheet" type="text/css" media="all"
	  href="../../css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" media="all"
	  href="../../css/calendar.css" data-th-href="@{/css/calendar.css}"/>

<body>
<th:block layout:fragment="content">
    <div align="center">
        <div class="row">
            <div class="col-md-12">
                <th:block th:fragment="form">
                    <form action="#" th:action="@{/product/save}" th:object="${product}"
                          method="post">

                        <table border="0" cellpadding="10">
                            <input type="hidden" th:field="*{productId}"/>
                            <tr>
                                <td>Product Name:</td>
                                <td><input type="text" th:field="*{name}"/></td>
                            </tr>
                            <tr>
                                <td>Location:</td>
                                <td><input type="text" th:field="*{brand}"/></td>
                            </tr>
                            <tr>
                                <td> Link</td>
                                :</td>
                                <td><input type="text" th:field="*{madein}"/></td>
                            </tr>
                            <tr>
                                <td>Average Cost</td>
                                <td><input type="text" th:field="*{price}"/></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit">Save</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</body>
<script type="text/javascript" th:src="@{/product/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/product/js/popper.js}"></script>
</html>