<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>


        <html lang="en" xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              xmlns:with="http://www.thymeleaf.org/extras/with"
              layout:decorate="~{layout}"
              with:title="Rental">
        <th:block layout:fragment="content">
            <div align="center">


                <h1> Rentals</h1>
                <a href="/rental/new">Create New Rental</a>
                <br/><br/>
                <table border="1" cellpadding="10">
                    <thead>
                    <tr>
                        <th class="arrow-button">Rental ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Made In</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rental : ${listRentals}">
                        <td th:text="${rental.id}">Product ID</td>
                        <td th:text="${rental.name}">Name</td>
                        <td th:text="${rental.brand}">Brand</td>
                        <td th:text="${rental.madein}">Made in</td>
                        <td th:text="${rental.price}">Price</td>
                        <td>
                            <a th:href="@{'/rental/edit/' + ${rental.id}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/rental/delete/' + ${rental.id}}">Delete</a>
                        </td>
                    </tr>


                    </tbody>
                </table>
        </th:block>
        <th:block layout:fragment="body_end">
            <div class="modal fade" tabindex="-1" role="dialog" id="cityModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edit city</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body...</p>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        </html>
    </title>
</head>
<body>

</body>
<script type="text/javascript" src="static/js/popper.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</html>
