<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>


        <html lang="en" xmlns:th="http://www.thymeleaf.org"
              xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
              xmlns:with="http://www.thymeleaf.org/extras/with"
              layout:decorate="~{layout}"
              with:title="Restaurant">
        <th:block layout:fragment="content">
<div align="center">


    <h1> Restaurants</h1>
    <a href="/restaurant/new">Create New Restaurant</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th class="arrow-button">Restaurant Restaurant ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${listRestaurants}">
            <td th:text="${restaurant.id}">Restaurant ID</td>
            <td th:text="${restaurant.name}">Name</td>
            <td th:text="${restaurant.brand}">Brand</td>
            <td th:text="${restaurant.madein}">Made in</td>
            <td th:text="${restaurant.price}">Price</td>
            <td>
                <a th:href="@{'/restaurant/edit/' + ${restaurant.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/restaurant/delete/' + ${restaurant.id}}">Delete</a>
            </td>
        </tr>


        </tbody>
    </table>
        </th:block>
        <th:block layout:fragment="body_end">
            <div class="modal fade" tabindex="-1" role="dialog" id="cityModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edit city</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body...</p>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        </html>
    </title>
</head>
<body>

</body>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"/>

<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>